@charset "utf-8";
@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

#cartDate {
    position: relative;
    width: 100px;
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0 16px;

    background: url("../imgs/calendar-days-solid.svg") no-repeat right 8px center / 16px auto;
}
#cartDate::-webkit-clear-button,
#cartDate::-webkit-inner-spin-button {
    display: none;
}
#cartDate::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
    background: transparent;
    color: transparent;
    cursor: pointer;
}
#cartDate::before {
    content: attr(data-placeholder);
    width: 100%;
}  
#cartDate:focus::before,
#cartDate:valid::before {
    display: none;    
}
#cartDate[data-placeholder] {
    font-family: 'Jeju Gothic', sans-serif;
    color: gray;
    font-size: 14px;
}