@charset "utf-8";
@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

#mycart_tbl {
    width: 100%;

    border-collapse: collapse;
    border: 1px solid black;
}
.cart_tbl_date {
    display: flex;
    justify-content: space-around;
}
.cart_tbl_date > span {
    display: flex; 
    justify-content: center;
    align-items: center;
}
#cartDate {
    position: relative;
    width: 100px;
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0 16px;

    background: url("../imgs/calendar-days-solid.svg") no-repeat right 8px center / 16px auto;
}
#cartDate::-webkit-clear-button,
#cartDate::-webkit-inner-spin-button {
    display: none;
}
#cartDate::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
    background: transparent;
    color: transparent;
    cursor: pointer;
}
#cartDate::before {
    content: attr(data-placeholder);
    width: 100%;
}  
#cartDate:focus::before,
#cartDate:valid::before {
    display: none;    
}
#cartDate[data-placeholder] {
    font-family: 'Jeju Gothic', sans-serif;
    color: gray;
    font-size: 14px;
}
.cart_goods_list{
    display: flex;
}
.cart_title_count {
    display: flex;
    flex-direction: column;
    height: 50px;
    justify-content: space-between;
}
.count_bt {
    display: flex;
}
.count_bt_delete {
    display: flex;
}
.a_black_text {
    text-decoration: none;
    color: black;
}